<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <display-name>StuAffairs</display-name>
  <context-param>
    <description>網站名稱</description>
    <param-name>webSiteName</param-name>
    <param-value>社團系統</param-value>
  </context-param>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description>登入</description>
    <servlet-name>Login</servlet-name>
    <servlet-class>ntpc.ccai.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/LoginD</url-pattern>
    <url-pattern>/LoginN</url-pattern>
    <url-pattern>/LoginTeaD</url-pattern>
    <url-pattern>/LoginStu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>社團管理</description>
    <servlet-name>ClubMgt</servlet-name>
    <servlet-class>ntpc.ccai.clubmgt.servlet.ClubMgt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClubMgt</servlet-name>
    <url-pattern>/ClubMgt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>基本社團設定</description>
    <servlet-name>ClubSettings</servlet-name>
    <servlet-class>ntpc.ccai.clubmgt.servlet.ClubSettings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClubSettings</servlet-name>
    <url-pattern>/ClubSettings</url-pattern>
    <url-pattern>/ClubAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>社團選社設定</description>
    <servlet-name>ClubSelectionMethod</servlet-name>
    <servlet-class>ntpc.ccai.clubmgt.servlet.ClubSelectionMethod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClubSelectionMethod</servlet-name>
    <url-pattern>/ClubSelectionMethod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>社團成員管理</description>
    <servlet-name>ClubMemberSelect</servlet-name>
    <servlet-class>ntpc.ccai.clubmgt.servlet.ClubMemberSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClubMemberSelect</servlet-name>
    <url-pattern>/ClubMemberSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>社團成員設定</description>
    <servlet-name>ClubMemberSetting</servlet-name>
    <servlet-class>ntpc.ccai.clubmgt.servlet.ClubMemberSetting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClubMemberSetting</servlet-name>
    <url-pattern>/ClubMemberSetting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>社團紀錄</description>
    <servlet-name>ClubRecord</servlet-name>
    <servlet-class>ntpc.ccai.clubmgt.servlet.ClubRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClubRecord</servlet-name>
    <url-pattern>/ClubRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>社團複製</description>
    <servlet-name>ClubCopy</servlet-name>
    <servlet-class>ntpc.ccai.clubmgt.servlet.ClubCopy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClubCopy</servlet-name>
    <url-pattern>/ClubCopy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>社團圖片</description>
    <servlet-name>ClubImage</servlet-name>
    <servlet-class>ntpc.ccai.clubmgt.servlet.ClubImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClubImage</servlet-name>
    <url-pattern>/ClubImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>社團成員幹部批次匯入</description>
	<servlet-name>ClubImport</servlet-name>
	<servlet-class>ntpc.ccai.clubmgt.servlet.ClubImport</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>ClubImport</servlet-name>
	<url-pattern>/ClubImport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>社團報表</description>
    <servlet-name>ClubExport</servlet-name>
    <servlet-class>ntpc.ccai.clubmgt.servlet.ClubExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClubExport</servlet-name>
    <url-pattern>/ClubExport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>社團活動申請</description>
    <servlet-name>ClubActivityApply</servlet-name>
    <servlet-class>ntpc.ccai.clubmgt.servlet.ClubActivityApply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClubActivityApply</servlet-name>
    <url-pattern>/ClubActivityApply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>社團活動報告</description>
    <servlet-name>ClubActivityReport</servlet-name>
    <servlet-class>ntpc.ccai.clubmgt.servlet.ClubActivityReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClubActivityReport</servlet-name>
    <url-pattern>/ClubActivityReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>社團活動清單</description>
    <servlet-name>ClubActivityList</servlet-name>
    <servlet-class>ntpc.ccai.clubmgt.servlet.ClubActivityList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClubActivityList</servlet-name>
    <url-pattern>/ClubActivityList</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/datasource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>